<!DOCTYPE html>
<html>
<head>
  <title>Wemail</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="frame">
    <div class="bit-25">
      <div class="box side">Successes</div>
    </div>
    <div class="bit-50">
      <div class="box"><%= yield %></div>
    </div>

    <div class="bit-25">
      <!-- <div class="box box--new">.bit-25</div> -->
    </div>
  </div>
</body>
</html>
